<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzkjdx.practice.mapper.PracticeMapper">
    <insert id="addStudent" parameterType="com.dzkjdx.practice.pojo.Student" useGeneratedKeys="true" keyProperty="sId">
        insert into practice
        values (#{sId},#{sName}, #{sScore},#{classNum},#{school})
    </insert>

    <select id="selectStudentByName" parameterType="java.lang.String" resultType="com.dzkjdx.practice.pojo.Student">
        select s_score, class_num, school from practice where s_name = #{name}
    </select>
    
    <insert id="BatchInsert" parameterType="java.util.List">
        insert into practice
        values
        <foreach collection="list" separator="," item="item">
            (#{item.sId},#{item.sName}, #{item.sScore}, #{item.classNum}, #{item.school})
        </foreach>
    </insert>

    <select id="FanWeiSelect" resultType="com.dzkjdx.practice.pojo.Student">
        select * from practice
        where s_score in
        <foreach collection="scoreList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>